@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<div class="modal-header alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
    <h3 class="modal-title">Edit Role</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group Meh-required">
                @*@Html.LabelFor(m => Model.Name, new { @class = "control-label col-sm-3" })*@
                @Html.Label("Name","Role Name", new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control required" })
                    <div>
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="~/Content/Meh/Images/wait.gif" alt="wait" />
            Sending ...
        </span>

        <input class="btn btn-primary" type="submit" value="Save" />
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>

}


