@*@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser*@
@model Identity.Models.Models.ApplicationUser

@{
    ViewBag.Title = "Edit User";
}

<div class="modal-header alert-info">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
    <h3 class="modal-title">Edit User</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group Meh-required">
                @*@Html.LabelFor(m => Model.UserName, new { @class = "control-label col-sm-3" })*@
                @Html.LabelFor(m => m.UserName, new { @class = "control-label col-md-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", dir = "ltr" })
                    <div>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
            <div class="form-group Meh-required">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control"@*, style = "max-width:400px;"*@, dir = "ltr" } })
                    <div>
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <span id="progress" class="text-center" style="display: none;">
            <img src="~/Content/Meh/Images/wait.gif" alt="wait" />
            Sending ...
        </span>

        <input class="btn btn-primary" type="submit" value="Save" />
        <button class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
}



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
